@model DatosReserva_aux

<form asp-controller="Home" asp-action="AgregarReserva" class="container" style="margin-top: 1rem">

    <div class="row">
        <div class="mb-3">
            <div class="col-lg-6 col-sm-12">
                <label class="form-label" for="titular">Titular</label>
                <input asp-for="reservaAux.titular" type="text" id="titular" class="form-control" required/>
            </div>
        </div>


        <div class="mb-3">
            <div class="col-lg-6 col-sm-12">
                <label class="form-label" for="pagp">Forma de Pago :</label>
                <select asp-for="reservaAux.idMedioPago" >
                    <option value="1">Credito</option>
                    <option value="2">Debito</option>
                    <option value="3">Mercado Pago</option>
                    <option value="4">Transferencia</option>
                    <option value="5">Efectivo</option>
                </select>
            </div>
        </div>

        <div class="mb-3">
            <div class="col-lg-6 col-sm-12">
                <label class="form-label" for="pagp">Habitaciones :</label> 

                        
                    @if (Model.habitacionesDisponibles.Count > 0)
                    {
                    <select asp-for="reservaAux.nroHabitacion" id="habitacionesSelect">

                        <option value="count">Habitaciones disponibles : @Model.habitacionesDisponibles.Count </option> <!-- Validar distinto a count al enviar-->
                        @foreach (var h in Model.habitacionesDisponibles)
                        {
                            Console.WriteLine("MODELO" + Model.habitacionesDisponibles);
                            <option value="@h.numHabitacion">N° @h.numHabitacion / $ @h.costoPorDia</option>

                        }
                        </select>
                    }
                    else
                    {
                        <p style="color: red; font-weight: bold; font-size: 2rem;">No hay abitaciones disponibles con esos criterios</p>
                    }

                   

                

            </div>
        </div>

        <div class="mb-3">
            <div class="col-lg-6 col-sm-12">
                <label class="form-label" for="ingreso">Fecha de ingreso:</label>
                <input asp-for="reservaAux.fechaIngreso" readonly type="date" id="ingreso" value="@Model.reservaAux.fechaIngreso" hidden/>
                <p>@Model.reservaAux.fechaIngreso.ToShortDateString()</p>
            </div>
        </div>

        <div class="mb-3">
            <div class="col-lg-6 col-sm-12">
                <label class="form-label" for="egreso">Fecha de egreso:</label>
                <input asp-for="reservaAux.fechaEgreso" readonly type="date" id="egreso" value="@Model.reservaAux.fechaEgreso" hidden />
                <p>@Model.reservaAux.fechaEgreso.ToShortDateString()</p>
            </div>
        </div>

        <div class="mb-3">
            <div class="col-lg-6 col-sm-12">
                <button type="submit" class="btn btn-outline-danger form-control">Reservar</button> 
        </div>

        </div>
    </div>

</form>
